<header class="navigation">
  <div class="navigation-content">
    <div class="header-name">
      <h1> MelPort</h1>
    </div>
    <div class="button-list">
    <div class="nav-button">
      <a routerLink="/blog" routerLinkActive="active" ariaCurrentWhenActive="page">blog</a>
    </div>
    <div class="nav-button">
      <a routerLink="/info" routerLinkActive="active" ariaCurrentWhenActive="page">information</a>
    </div>
    <div class="nav-button">
      <a routerLink="/art" routerLinkActive="active" ariaCurrentWhenActive="page">art</a>
    </div>
    </div>
  </div>
</header>


