/* You can add global styles to this file, and also import other style files */

/*Adjustable Fonts*/
$font-big: 6rem;
$font-medium: 4rem;
$font-small: 2rem;
$font-xs: 1rem;

.content{

}




h4,h3{
  font-family: Arial, serif;
}

